body {
    font-family: verdana;
    font-size: 13px;
    border: none;
    margin: 0px;
    padding: 0px;
}

form label {
    font-weight: bold;
}

select.chose-style {
    background: -moz-linear-gradient(center top , #FFFFFF 20%, #F6F6F6 50%, #EEEEEE 52%, #F4F4F4 100%) repeat scroll 0 0 padding-box transparent;
    border: 1px solid #AAAAAA;
    border-radius: 5px;
    box-shadow: 0 0 3px white inset, 0 1px 1px rgba(0, 0, 0, 0.1);
    height: 23px;
    text-decoration: none;
    white-space: nowrap;    
}

select.chose-style option {
    color: #444444;
    line-height: 24px;
    padding: 0 0 0 8px;    
}

input.form-field {
    border: 1px solid #CCC;
    border-radius: 4px;
    color: #363636;
    font-size: 15px;
    height: 30px;
}

table#tb-cartoes {
    width: 700px;
}

table#tb-cartoes thead th {
    font-size: 12px;
    background-color: #CCC;
    font-weight: bold;
    font-style: italic;
    padding: 2px 6px;
}

table#tb-cartoes tbody tr:nth-child(even) {background: #FFF}
table#tb-cartoes tbody tr:nth-child(odd) {background: #E2E2E2}

table#tb-cartoes tbody td {
    font-size: 12px;
    border: 1px solid #444;
    border-left: none;
    border-top: none;
    empty-cells: show;
    padding: 4px 6px;
}

table#tb-cartoes tbody td.num-item {
    font-size: 15px;
    font-weight: bold;
}

table#tb-cartoes tbody td.y-card {
    background-color: #FFF000;
    width: 32px;
}

table#tb-cartoes tbody td.r-card {
    background-color: #FF3300;
    width: 32px;
}

select.form-field {
    border: 1px solid #CCC;
    border-radius: 4px;
    color: #363636;
    font-size: 14px;
    height: 25px;
}

textarea.form-field {
    border: 1px solid #CCC;
    border-radius: 4px;
    color: #363636;
    font-size: 13px;
}

br.block {
    display: block;
    margin: 5px 0px;
}

fieldset.legenda {
    border: 1px solid #CCC;
    width: 70%;
    margin: 0px 0px 20px 10px;
}

fieldset.legenda legend {
    font-weight: bold;
    font-style: italic;
}

fieldset.legenda ul li {
    color: #444;
    font-style: italic;
}

h1 { color: #000; font-size: 20px; }

hr.thin {
    border: 1px solid #CCC;
    border-top: 1px;
    height: 1px;
}

table.tb-lista-combo {
    width: 450px;
    font-size: 13px;
}

table.tb-lista-combo td {
    background-color: #F2F2F2;
    padding: 5px 0px 5px 0px;
    text-align: center;
}

table.tb-lista-combo tr.none td {
    background-color: #FFF;
}

table.tb-lista-combo td img {
    cursor: pointer;
}

.button {
    background-image: url('../images/bg_button.png') !important;
    background-repeat: repeat-x;
    background-position: bottom center;
    border: 1px solid #CCC;
    color: #363636;
    font-size: 14px;
    height: 32px !important;
    cursor: pointer;
}

.sim {
    color: #060;
    font-weight: bold;
}

.nao {
    color: #900;
    font-weight: bold;
}

.tb-fotos {
    font-size: 13px;    
}

.tb-fotos div {
    clear: both;
}

.tb-fotos p {
    float: left;    
    margin: 0px;
    margin-bottom: 3px;
    margin-right: 12px;
}

.tb-fotos tr td {
    border-bottom: 1px solid #999;
    padding-bottom: 5px;
    padding-top: 5px;
}

.tb-form {
    font-size: 13px;
	width: 100%;
}

.tb-form th {
    border-bottom: solid 1px #CCC;
    background-color: #EEE;
    text-align: left;
    padding: 5px 0px 5px 5px;
}

.tb-form td.small-content {
    border-bottom: 1px solid #CCC;
    padding-bottom: 3px;
}

.lista li {
    border-bottom: 1px solid #CCC;
    padding: 3px;
}

.tb-lista {
    font-size: 13px;
    empty-cells: show;
    text-align: center;
    width: 100%;
}

tb-lista p {
    margin: 0px;
    margin-bottom: 3px;
    margin-right: 12px;
}

.tb-lista tr td {
    border-bottom: 1px solid #AAA;
    padding-bottom: 5px;
    padding-top: 5px;
}

.tb-lista th {
    background-color: #CCC;
}

.tb-lista .claro, .tb-fotos .claro {
    background-color: #FFF;
}

.tb-lista .escuro, .tb-fotos .escuro {
    background-color: #E2E2E2;
}

.forte-verde {
    color: #060;
    font-weight: bold;
}

.forte-vermelho {
    color: #900;
    font-weight: bold;
}

p.resultados {    
    font-size: 11px;
    text-align: center;
}

div#header {
    background: transparent url('../images/bg_header.png') scroll repeat-x center top;
    border-bottom: 2px solid #CCC;
    padding-bottom: 5px;
    text-align: left;
    width: 100%;
}

div#main {
    background: transparent url('../images/bg_main.png') scroll repeat left top;
    min-height:500px;
    height:auto !important;    
    height:500px;
    width: 1100px;
}

div#main:after{
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0px;
    overflow: hidden;
}

div#main a:link {
    color: #000;
    text-decoration: underline;
}

div#main a:visited {
    color: #000;
    text-decoration: underline;
}

div#main a:hover {
    color: #000;
    text-decoration: underline;
}

div#main div#left-side {
    background: transparent;
    display: table-cell;
    width: 150px;
    float: left;
}

div#main div#right-side {
    background: transparent;
    display: table-cell;
    background-color: #FFF;
    padding-left: 10px;
    width: 940px;
    float: left;
}

div#main div#right-side h1 {
    background-color: #CCC;
    background: #CCC url('../images/bg-h1.png') scroll repeat-x left top;
    color: #535353;
    margin-bottom: 0px;
    margin-left: -10px;
    margin-top: 0px;
    padding-bottom: 7px;
    padding-left: 3px;
    padding-top: 5px;
}

div#main div#right-side p.cancel {
    background: #F4CB96 url('../images/bg_nav_top.png') scroll repeat-x left top;
    margin-left: -10px;
    margin-top: 0px;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-right: 3px;
    text-align: right;
}

div.container {
    padding-left: 30px;
}

* html body div#main div#right-side {
    height: 450px;
}

div#overlay-form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 30;
}

div#loading-form {
    position: absolute;
    height: 40px;
    width: 40px;
    cursor: pointer;
    display: none;
    overflow: hidden;
    background: transparent;
    z-index: 100;
}

div#loading-form div {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 480px;
    background: transparent url('../images/fancy_progress.png') no-repeat;
}

div#loading-form {
    
}

div#right-side table#tb-form {
    font-size: 13px;	
}

div#left-side ul#left-menu {
    font-weight: bold;
    list-style-type: none;
    padding-left: 2px;
    margin-top: 2px;
}

div#left-side ul#left-menu hr {
    border: 1px solid #CCC;
    border-top: 1px;
    height: 1px;
}


div#left-side ul#left-menu ul {
    font-weight: normal;
    list-style-type: none;
    padding-left: 10px;
}

div#left-side ul#left-menu ul a:link {
    color: #000;
    text-decoration: none;
}

div#left-side ul#left-menu ul a:visited {
    color: #000;
    text-decoration: none;
}

div#left-side ul#left-menu ul a:hover {
  padding: 1px;
  color: #FFF;
  text-decoration: underline;
  background-color: #000;
}

div#left-side ul#left-menu a:link {
    color: #000;
    text-decoration: none;
}

div#left-side ul#left-menu a:visited {
    color: #000;
    text-decoration: none;
}

div#left-side ul#left-menu a:hover {
  text-decoration: underline;
}

* html body div#main div#left-side ul#left-menu {
    margin-left: 0px;
    padding-left: 5px;
}

* html body div#main div#left-side ul#left-menu ul {
    margin-left: 0px;
    padding-left: 10px;
}

div#galeria-conteudo p {
    padding:0px;
    margin:0px;
}

div.blockMsg p {
    color: #FFF;
    font-size: 15px;
    font-weight: bold;
}

div#switch-order-filter ul {
    list-style: none;
    padding: 0;
    padding-left: 5px;
}

div#switch-order-filter ul li {
    padding-left: 15px;
}

div#paginacao {
    font-weight: bold;
    font-size: 11px;
    padding-bottom: 5px;
    text-align: center;
}

div#paginacao a:link {
    color: #000;
    text-decoration: underline;
}

div#paginacao a:visited {
    color: #000;
    text-decoration: underline;
}

div#paginacao a:hover {
    color: #000;
    text-decoration: underline;
}

table#categorias-equipes {
    font-size: 13px;
}

table#categorias-equipes td.categoria {
    border-bottom: 1px solid #CCC;
    padding: 3px 25px 3px 0px;
}

table.tb-atletas {
    font-size: 13px;
    float: left;
}

table.tb-atletas th.equipe {
    background-color: #CCC;
}

table.tb-atletas td, table.tb-atletas th {
    border: 1px solid #CCC;
    border-left: none;
    border-top: none;
    text-align: center;
}

table.tb-atletas td.nome-atleta {
    text-align: left;
}

table.tb-atletas th.y-card {
    background-color: #FFF000;
    width: 32px;
}

table.tb-atletas th.r-card {
    background-color: #FF3300;
    width: 32px;
}

.jcms-msg-error, .jcms-msg-ok {
    color: #FFF;
    font-weight: bold;
    padding: 10px;
    width: 98%;
}

.jcms-msg-error {
    background-color: #A13838;
}

.jcms-msg-ok {
    background-color: #38A156;
}

.online {
    color: #009900;
    font-weight: bold;
    font-size: 15px;    
}

.offline {
    color: #FF9000;
    font-weight: bold;
    font-size: 15px;
}

p.alert {
    background: #FFF2BF url('../images/alert-medium.png') no-repeat scroll 7px 10px;
    border: 2px solid #FF8B00;
    padding-left: 45px;
    padding-bottom: 10px;
    padding-top: 10px;
}

span.required {
    color: #F00;
}

div.medalha-row {
	display: table;
}

div.medalha-cell {
	display: table-cell;
	vertical-align: middle;
	width: 80px;
	padding: 5px;
}